<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ControllerFront</display-name>
    <servlet-name>ControllerFront</servlet-name>
    <servlet-class>com.curso.controller.ControllerFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerFront</servlet-name>
    <url-pattern>/ControllerFront</url-pattern>
  </servlet-mapping>
  <display-name>PruebasSegunda3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAlta</display-name>
    <servlet-name>ServletAlta</servlet-name>
    <servlet-class>com.curso.servlet.ServletAlta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlta</servlet-name>
    <url-pattern>/ServletAlta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBusqueda</display-name>
    <servlet-name>ServletBusqueda</servlet-name>
    <servlet-class>com.curso.servlet.ServletBusqueda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBusqueda</servlet-name>
    <url-pattern>/ServletBusqueda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBorrado</display-name>
    <servlet-name>ServletBorrado</servlet-name>
    <servlet-class>com.curso.servlet.ServletBorrado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBorrado</servlet-name>
    <url-pattern>/ServletBorrado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEdit</display-name>
    <servlet-name>ServletEdit</servlet-name>
    <servlet-class>com.curso.servlet.ServletEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEdit</servlet-name>
    <url-pattern>/ServletEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBorrar</display-name>
    <servlet-name>ServletBorrar</servlet-name>
    <servlet-class>com.curso.servlet.ServletBorrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBorrar</servlet-name>
    <url-pattern>/ServletBorrar</url-pattern>
  </servlet-mapping>
</web-app>